// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letter {
  padding: 15px;
  margin: 10px;
  height: 20px;
  width: 20px;
  background-color: lightblue;
  color: white;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
  box-shadow:  5px 3px 3px grey;
}

h2 {
  font-family: sans-serif;
}

h3 {
  font-family: sans-serif;
}

h4 {
  font-family: sans-serif;
  font-weight: lighter;
}

input {
  width: auto;
}
